@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.fade-in {
  animation: fade-in 0.5s ease-in-out;
}

.slide-in-right {
  animation: slide-in-right 0.5s ease-in-out;
}

.slide-in-left {
  animation: slide-in-left 0.5s ease-in-out;
}

.scale-up {
  animation: scale-up 0.5s ease-in-out;
}

.rotate {
  animation: rotate 0.5s ease-in-out;
}

.bounce {
  animation: bounce 0.5s ease-in-out;
}
